* {
  max-width: 100%;
}
header {
  display: flex;
  width: 100%;
  height: 5vh;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
}

header nav {
  margin-left: auto;
  border: solid black 2px;
}

header nav ul {
  display: flex;
  list-style: none;
}

li {
  padding: 0.75rem 2rem;
  border-right: solid black 2px;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  background-color: black;
  color: white;
}

.contact {
  border: none;
}

@media (max-width: 800px) {
  header nav ul {
    flex-direction: column;
  }
  header nav {
    margin: 0;
    margin-top: 1rem;
  }
  header {
    height: fit-content;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  li {
    border: none;
    border-bottom: solid black 2px;
  }
}
